.hexagon {
  position: relative;
  width: 100px;
  height: 110px;
  background-color: #111;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 2px;
  transition: 2s;
}

.hexagon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.02);
  z-index: 1000;
}

.hexagon:hover {
  transition: 0s;
  background-color: #0f0;
}

.hexagon:after {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background-color: #111;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 1;
}

.container-main {
  position: relative;
  height: 100vh;
  overflow: hidden;
  animation: animate 4s linear infinite;
  z-index: 1;
}
.row-main {
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;
}
.row-main:nth-child(even) {
  margin-left: 1px;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
